In [2]:
# add dữ liệu từ csv
import pandas as pd
df = pd.read_csv("product.csv")
df.tail(2)

                          tên   giá_bán    ngày_tạo  category
3     Bàn phím cơ Keychron K2   2500000  2021-08-30  Phụ kiện
4  Màn hình LG UltraWide 34''  12000000  2022-02-14  Màn hình

## LỌC BÀNG CHỈ SỐ (ILOC)

> `iloc` lọc dữ liệu dựa trên vị trí số trong datafram

In [4]:
df.iloc[:3]

                        tên   giá_bán    ngày_tạo    category
0        Laptop Dell XPS 13  32000000  2023-05-10      Laptop
1             iPhone 15 Pro  28000000  2023-09-22  Điện thoại
2  Tai nghe Sony WH-1000XM5   9000000  2022-11-15    Âm thanh

In [ ]:
# lấy kết hợp dòng và cột
df.iloc[2::2, 2:] # lấy dòng 2 -> 5 (bước nhảy 2), cột 2 -> cuối

     ngày_tạo  category
2  2022-11-15  Âm thanh
4  2022-02-14  Màn hình

## lọc bằng nhãn (loc)

> `loc` lọc dữ liệu dựa trên nhãn của chỉ số trong DataFrame

In [10]:
df.loc[3:, ["category", "giá_bán"]]

   category   giá_bán
3  Phụ kiện   2500000
4  Màn hình  12000000

In [12]:
# lọc có điều kiện
df.loc[df["giá_bán"] > 200000, ["tên", "giá_bán"]]

                          tên   giá_bán
0          Laptop Dell XPS 13  32000000
1               iPhone 15 Pro  28000000
2    Tai nghe Sony WH-1000XM5   9000000
3     Bàn phím cơ Keychron K2   2500000
4  Màn hình LG UltraWide 34''  12000000