In [8]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [9]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "gioi_tinh": ["male", "male", "female"],
    }
)
df.head()
df.tail()
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [10]:
# series = List
bank_accounts = pd.Series([2514, 45830, 100000, 0, 5000, 300],name="Bank Accounts")
bank_accounts.describe() # thống kê cơ bản

count         6.000000
mean      25607.333333
std       40490.458069
min           0.000000
25%         853.500000
50%        3757.000000
75%       35622.500000
max      100000.000000
Name: Bank Accounts, dtype: float64

In [11]:
# doc file csv 
screentime_data =pd.read_csv("ScreenTime vs MentalWellness.csv") 
screentime_data. head()

,user_id,age,gender,occupation,work_mode,screen_time_hours,work_screen_hours,leisure_screen_hours,sleep_hours,sleep_quality_1_5,stress_level_0_10,productivity_0_100,exercise_minutes_per_week,social_hours_per_week,mental_wellness_index_0_100,Unnamed: 15
0,U0001,33,Female,Employed,Remote,10.79,5.44,5.35,6.63,1,9.3,44.7,127,0.7,9.3,NaN
1,U0002,28,Female,Employed,In-person,7.40,0.37,7.03,8.05,3,5.7,78.0,74,2.1,56.2,NaN
2,U0003,35,Female,Employed,Hybrid,9.78,1.09,8.69,6.48,1,9.1,51.8,67,8.0,3.6,NaN
3,U0004,42,Male,Employed,Hybrid,11.13,0.56,10.57,6.89,1,10.0,37.0,0,5.7,0.0,NaN
4,U0005,28,Male,Student,Remote,13.22,4.09,9.13,5.79,1,10.0,38.5,143,10.1,0.0,NaN

- 3 câu hỏi thống kê dữ liệu định lượng
- 3 câu hỏi thống kê dữ liệu định tính

In [ ]:
screentime_data =pd.read_csv("ScreenTime vs MentalWellness.csv") 
df = pd.read_csv("ScreenTime vs MentalWellness.csv")
screentime_data. head()
# 3 câu hỏi thống kê dữ liệu định lượng
df["screen_time_hours"] # trung bình thời gian sử dụng pc của user_id
df[]

0      10.79
1       7.40
2       9.78
3      11.13
4      13.22
       ...
395     6.43
396     9.59
397     8.72
398     5.04
399     8.86
Name: screen_time_hours, Length: 400, dtype: float64